# Extension ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc

# Directory (contents) ignores
deps
.cloud
.storage
tts
notebooks
www/inside

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!packages
!group
!components
!docs
!*.jpg
!*.png
!*.PNG
!.stubs

# Ignore folders.

#igrnore files
.google.token
.www
.vscode
.theia
.ios.conf
.homekit.state
.spotify-token-cache
.uuid
core
aircast.xml
harmony_living.conf
plex.conf




# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
rln8-16-410.png 
rlc-410-5MP.png 