# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!packages
!group
!docs
!*.jpg
!*.png
!*.PNG

# Ignore folders.
.storage
.cloud
.google.token
.www




# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
rln8-16-410.png 
rlc-410-5MP.png 
